html,body {
    margin: 0;
    padding: 0;
}


body {
    padding-top: 1em;
    /* text-align: center; */
    background-color: rgb(66, 64, 64);
    background-size: cover;
    background-repeat: space;
    margin: 50px;
}


#grid-container{
    display: grid;
    width: 900px;
    height: 700px;
    margin: auto;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


#leftside{
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    justify-self: right;

}


#player1HealthDiv{
    width: 200px;
    height: 50px;
    grid-row: 1;
    grid-column: 1;
    color:#37599e;
    -webkit-text-stroke: 1px black;
    font-size: large;
}

#player2HealthDiv{
    width: 200px;
    height: 50px;
    grid-row: 1;
    grid-column: 2;
    color: orange;
    -webkit-text-stroke: 1px black;
    font-size: large;
}

canvas{
    background-color: rgb(141, 42, 111);
    grid-column: 3/7;
    grid-row: 2;
    width: 700px;
    height: 500px;
    margin: auto;
}

.meter{
    color: white;
    height: 200px;
    font-family: 'Bungee', cursive;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;

}


#startButton{
    grid-row: 3;
    grid-column: 1;
    height: 50px;
    width: 100px;
    margin: auto;
    font-family: 'Bungee', cursive;
    border-radius: 12px;
}


#fire{
    grid-column: 6;
    width: 100px;
    height: 70px;
    border-radius: 12px;
    font-family: 'Bungee', cursive;
    align-self: end;
}

#power{
height: 50px;
height: 50px;
width:200px;
margin-top: 40px;

}

#angle{
    height: 50px;
    width:200px;
    
}


#playerTurn{
    font-size: 30px;
    grid-column-start: 3;
    grid-column-end: 5;
    height: 50px;
    /* align-self:; */
    margin-bottom: 20px;
    -webkit-text-stroke: 1px black;
    padding: 0px;

}


/* .barcodefont{
    font-family: 'Poiret One', cursive;

    font-family: 'Poppins', sans-serif;

    font-family: 'Source Sans Pro', sans-serif;
} */


#fun{
    display: none;
    background-color: rgb(66, 64, 64);
}




.bungefont{
    font-family: 'Poiret One', cursive;

    font-family: 'Poppins', sans-serif;

    font-family: 'Source Sans Pro', sans-serif;
}


#instructions{
    padding: 20px;
    align-self: end;
}

#restartGameMessage{
    color: white;
    margin: 0px;
    font-family: 'Bungee', cursive;
    grid-column-start: 3;
    grid-column-end: 6;
    display: none;

}