html,body {
    margin: 0;
    padding: 0;
}


body {
    padding-top: 1em;
    text-align: center;
    background-color: rgb(66, 64, 64);
    /* background-image: url('../img/dungeonhell.png'); */
    background-size: cover;
    background-repeat: space;
}


#topBar{

}

.weaponClass{
    grid-area: top-right;
}

#container {
    max-width: 50em;
    /* height: 70vh; */
    background-color: blue;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: .5em;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 25% 25% 25% 25%;

}

canvas{
    background-color: rgb(141, 42, 111);
    position: absolute;
    top: 20%;
    left: 17%;
    width: 700px;
    height: 500px;
}

#bottomBar{
    grid-area: foot;

}

#startButton{
    grid-area: btm-left;
    
}

main {
    grid-area: game;
}

.meter{
    color: white;
}